#avatar-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  // animation: spin 62s linear infinite;
}
.shape{
  height: 250px;
  width: 250px;
  // animation: morph 22s ease-in-out 1 both alternate;
  overflow: hidden;
  position:absolute;
  z-index: 5;
  -moz-transition: all .51s;
  -o-transition: all .51s;
  -webkit-transition: all .51s;
  transition: all .51s;
  border-radius: 50%;

  &:hover,
  &.hovered{
    border-radius: 60% 40% 56% 44% / 35% 33% 67% 65% ;

  }

}

.avatar{
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 155%;
  align-items: center;
  background-position-x: 58%;
  background-position-y: 33%;
  opacity: 1;
  z-index: 2;
  // animation: spin 62s linear infinite reverse;

}



@keyframes morph {
  0% {border-radius: 60% 40% 56% 44% / 35% 33% 67% 65%  }
  50% {border-radius: 67% 33% 27% 73% / 50% 37% 63% 50%  }
  100% {border-radius: 60% 40% 56% 44% / 35% 33% 67% 65%  }
}


@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}