#avatar-container{
  height: 230px;
  width: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
 // animation: spin 62s linear infinite;
}
.shape{
  height: 230px;
  width: 230px;
  border-radius: 60% 40% 56% 44% / 35% 33% 67% 65% ;
 // animation: morph 22s ease-in-out 1 both alternate;
  overflow: hidden;
  position:absolute;
  z-index: 5;

}
.avatar{
  width: 142%;
  height: 142%;
  position: absolute;
  left: -21%;
  top: -21%;
  background-size: 100%;
  background-position: center center;
  align-items: center;
  background-position-y: 30px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
 // animation: spin 62s linear infinite reverse;
  opacity: 1;
  z-index: 2;
}



@keyframes morph {
  0% {border-radius: 60% 40% 56% 44% / 35% 33% 67% 65%  }
  50% {border-radius: 67% 33% 27% 73% / 50% 37% 63% 50%  }
  100% {border-radius: 60% 40% 56% 44% / 35% 33% 67% 65%  }
}


@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}