.creative-card{
  margin-bottom: 100px;


  .desc-part{
    display: inline-block;
    width: 10%;
    height: 180px;
    margin-left: 30px;

  }

  .img-part{
    display: inline-block;
    float: left;

  }
}


.creative-image-full{
  max-width: 80vh;
  max-height: 80vh;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  border: 30px solid #000;
  padding: 16px 32px 24px;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
  background-color: #fff;
}

.creative-image-full-container{
  width: 80%;
  height: auto;
  max-height: 80vh;
  margin-left: auto;
  margin-right: auto;
}

.creative-image-full-preload{
  @extend .creative-image-full;
  img{
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

}

 