.creative-card{
  margin-bottom: 100px;


  .desc-part{
    display: inline-block;
    width: 10%;
    height: 180px;
    margin-left: 30px;

  }

  .img-part{
    display: inline-block;
    float: left;

  }
}


.creative-image-full{
  max-width: 80vh;
  max-height: 80vh;
  width: auto;
  height: auto;
}

.creative-image-full-container{
  width: 80%;
  height: auto;
  max-height: 80vh;
}