.creative-card{
  margin-bottom: 100px;


  .desc-part{
    display: inline-block;
    width: 10%;
    height: 180px;
    margin-left: 30px;

  }

  .img-part{
    display: inline-block;
    float: left;

  }
}
